<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.BaseAttrInfoMapper">
    <select id="selectAttrInfoList" resultMap="selectAttrInfoListMap">
        select ai.id as ai_id, av.id as av_id ,ai.*,av.*
        from base_attr_info ai ,base_attr_value av
        WHERE ai.category_id =#{cartegory3Id}
        and ai.category_level= #{categoryLevel}
        and ai.id =av.attr_id

    </select>
    <resultMap id="selectAttrInfoListMap" type="com.atguigu.gmall.model.product.BaseAttrInfo" autoMapping="true">
        <id property="id" column="ai_id"></id>
        <collection property="attrValueList" ofType="com.atguigu.gmall.model.product.BaseAttrValue" autoMapping="true">
            <id property="id" column="av_id"></id>
        </collection>
    </resultMap>
</mapper>