<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">
    <resultMap id="selectSpuSaleAttrListCheckBySkuMap" type="com.atguigu.gmall.model.product.SpuSaleAttr">
    <id property="id" column="sa_id" ></id>
        <collection property="spuSaleAttrValueList"  autoMapping="true" ofType="com.atguigu.gmall.model.product.SpuSaleAttrValue">
            <id property="id" column="sv_id"></id>
        </collection>
    </resultMap>
    <select id="selectSpuSaleAttrListCheckBySku" resultMap="selectSpuSaleAttrListCheckBySkuMap">
        SELECT
        sa.id as sa_id,
        sa.*,
        sv.id as sv_id,
        sv.*,
        if(sav.sku_id,1,0) AS isChecked,
        sav.sku_id
        FROM
        spu_sale_attr sa
        INNER JOIN spu_sale_attr_value sv ON sa.spu_id = sv.spu_id
        AND sa.base_sale_attr_id = sv.base_sale_attr_id
        AND sv.spu_id = #{spuId}
        LEFT JOIN sku_sale_attr_value sav ON sav.sale_attr_value_id = sv.id
        AND sav.sku_id = #{skuId}
        ORDER BY sa.base_sale_attr_id,sv.id
    </select>
    <select id="selectValueIdsMap" resultType="java.util.Map">
        SELECT
        GROUP_CONCAT( sale_attr_value_id ORDER BY sale_attr_value_id SEPARATOR '|' ) AS values_Ids,
        sku_id
        FROM
            sku_sale_attr_value sav
        WHERE
            sav.spu_id = #{spuId}
        GROUP BY
        sku_id
    </select>
    <resultMap id="selectSearchAttrListMap" type="com.atguigu.gmall.model.list.SearchAttr" autoMapping="true">

    </resultMap>
    <select id="selectSearchAttrList" resultMap="selectSearchAttrListMap">
    SELECT
	bav.attr_id as attrId,
	bai.attr_name as attrName,
	bav.value_name	as attrValue
    FROM
	sku_sale_attr_value AS sav,
	base_attr_info AS bai,
	base_attr_value AS bav
    WHERE
	bai.id = bav.attr_id
	AND sav.sale_attr_value_id = bav.id
	AND sav.sku_id =#{skuInfoId}
    </select>
</mapper>

